@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap&subset=cyrillic');

:root {
    --dark-green: #0D730D;
    --green-shadow: rgb(6, 51, 6);
    --lite-green: #8CF28C;
    --green: #40A640;
    --red: #F91E1E;
    --dark: #212121;
}

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: rgb(242, 246, 255);
}

#preloader {
    display: inline-block;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0c0c0c;
    top: 0;
    left: 0;
    z-index: 5;
}

#loader {
    display: inline-block;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    border:  4px solid #0c0c0c;
    border-top-color: var(--green);
    border-bottom-color: var(--green);
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -37.5px 0 0 -37.5px;
    animation: 1s spin ease-in-out infinite;
}


#topAn {
    display: inline-block;
    position: relative;
    width: 40px;
    left: calc(100% + 10px);
    border: 2px solid #212121;
    font-size: 24px;
}

#topAn h1, #topAn h3 {
    margin: 5px 0;
}

.topBtn {
    display: block;
    position: fixed;
    right: 50px;
    bottom: 50px;
    width: 40px;
    cursor: pointer;
    z-index: 3;
}

.topBtn img {
    width: 100%;
}

#logo {
    display: inline-block;
    width: 50px;
    height: 50px;
    position: absolute;
    top: calc(50% - 25px);
    left: 20px;
    box-shadow: 0 0 20px var(--green);
    border-radius: 50%;
}

#mobileHeaderName {
    display: none;
    font-size: 32px;
    color: #fff;
    font-weight: 400;
    position: absolute;
    line-height: 32px;
    width: 150px;
    text-align: center;
    left: calc(50% - 75px);
}

header {
    display: flex;
    position: relative;
    width: 100%;
    justify-content: space-evenly;
    height: 55px;
    padding: 10px 0;
    background-color: var(--dark);
    z-index: 3;
}

header a {
    display: inline-block;
    text-decoration: none;
    font-size: 20px;
    line-height: 25px;
    height: 25px;
    color: var(--green);
    text-shadow: 2px 2px 4px #131313;
    padding: 8px 16px;
    margin-top: 8px;
    border-radius: 8px;
    border: 1px solid var(--dark-green);
}

header a:hover {
    box-shadow: 0 0 8px #424242;
}

#mobileMenu {
    display: inline-block;
    position: fixed;
    width: 180px;
    left: -200px;
    top: 60px;
    background-color: var(--dark);
    transition: ease-out 0.8s;
    z-index: 3;
    border-bottom-right-radius: 12px;
}


#mobileMenu a {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 16px 0;
    border-top: 1px solid #424242;
    text-decoration: none;
    color: #fff;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 1px;
}


#mobileMenuBtn {
    display: none;
    position: absolute;
    cursor: pointer;
    left: 15px;
    top: calc(50% - 20px);
    width: 42px;
    height: 40px;
    background-color: #5555;
    border-radius: 12px;
}

    
#mobileMenuBtn span {
    display: inline-block;
    position: absolute;
    width: 50%;
    height: 2px;
    left: 25%;
    top: calc(50% - 2px);
    background-color: #fff;
    border-radius: 2px;
    transition: ease-in-out 0.5s;
}

#mobileMenuBtn span:last-child {
    width: 35%;
}

.content {
    display: flex;
    flex-flow: column;
    margin: 0 50px;
    padding: 0 50px;
    background-color: #fff;
}

.row {
    width: 100%;
    margin-top: 40px;
    display: inline-block;
    position: relative;
}

h3 r {
    font-size: 40px;
    color: var(--red);
}

h2, h3, h4 {
    margin-bottom: 10px;
    font-weight: 600;
    width: 100%;
}

h4 {
    margin-left: 10px;
    position: relative;
}

h4::before {
    display: block;
    content: '';
    position: absolute;
    height: 80%;
    width: 2px;
    left: -9px;
    top: 10%;
    background-color: var(--red);
}

h4 span {
    display: inline-block;
    position: relative;
}

article:nth-child(even) h4::before {
    background-color: var(--green);
}

article:nth-child(even) {
    margin-right: 15%;
}

.carousel {
    margin-top: 40px;
}

article {
    display: inline-block;
    position: relative;
    width: 35%;
    margin-left: 5%;
}


article+article+article {
    margin-top: 60px;
}

article img {
    width: 16%;
    position: relative;
    margin: 10px calc(10% - 5px) 0 10px;
}

article h4 {
    margin-bottom: 20px;
}

article p {
    width: 60%;
    float: right;
    text-align: center;
}

.more {
    font-size: 15px;
    color: #424242;
}

#price {
    display: flex;
    justify-content: space-around;
}

#price div {
    width: 45%;
}

#price h3, #price p {
    text-align: center;
}

#price div {
    order: -1;
}

#price div:last-child {
    order: 1;
}

#price img {
    max-width: 10%;
}

#map {
    display: inline-block;
    width: 400px;
    height: 300px;
    margin-left: calc(50% - 200px);
}

center span {
    display: inline-block;
    font-size: 40px;
    padding: 5px 20px;
    margin: 40px 0;
    border-radius: 15px;
    border: 1px solid #474747;
}


.comments .item img {
    display: block;
    width: 160px;
    height: 160px;
    border-radius: 40%;
    margin-left: 60px;
    float: left;
}

.comments .item h3 {
    display: inline-block;
    margin-left: 40px;
    width: calc(100% - 320px);
}

.comments .item p {
    display: inline-block;
    margin: 15px 40px;
    width: 60%;
}

.tel {
    display: inline-block;
    width: 34%;
    margin: 10px calc(33% - 16px);
    padding: 8px 16px;
    color: var(--red);
    border: 1px solid var(--green);
    text-decoration: none;
    font-size: 18px;
    border-radius: 16px;
}

#about .icon {
    display: inline-block;
    width: 64px;
    height: 64px;
    margin: 40px 15px 0 15px;
}


#about .half {
    display: inline-block;
    width: 49%;
    vertical-align: top;
}

#about p, #about h3 {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.icon img {
    width: 100%;
    height: 100%;
}

footer {
    display: flex;
    justify-content: space-evenly;
    margin: 0;
    padding: 15px 5%;
    background-color: var(--dark);
    color: #484848;
    font-size: 15px;
}

footer .row {
    padding: 0;
    margin: 0;
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
}

footer span {
    display: inline-block;
    width: 100%;
    margin: 5px 0;
}

footer a {
    display: block;
    width: 100%;
    color: #888888;
}

#comment {
    display: inline-block;
    width: 100%;
    margin: 20px 0;
    padding: 15px 0;
    border-top: 1px solid #bebebe;
    position: relative;
    text-align: center;
}


#comment img {
    display: inline-block;
    position: relative;
    width: 70px;
    height: 70px;
    margin: 5px 0;
    border-radius: 8px;
    background-color: #fff;
    border: 1px solid #787878;
}

#files {
    margin: 5px 0 15px 0;
}

#comment textarea {
    resize: none;
    padding: 3px 5px;
    border-radius: 4px;
    margin: 5px 0;
}

#comment input {
    cursor: pointer;
}

#comSubmit {
    display: inline-block;
    width: 250px;
    line-height: 30px;
    font-size: 20px;
    padding: 8px 16px;
    margin-top: 10px;
    border-radius: 8px;
    border: none;
    background-color: rgb(248, 29, 40);
    border: none;
    color: #fff;
    font-weight: 600;
}


#cube {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #212121;
    box-sizing: border-box;
    position: absolute;
    top: 60px;
    left: 50px;
    animation: 4s cube infinite;
}

#cube2 {
    display: inline-block;
    width: 40px;
    height: 40px;
    border: 2px solid #212121;
    box-sizing: border-box;
    position: absolute;
    top: 190px;
    right: 50px;
    animation: 4s cube2 infinite;
}




@media (max-width: 768px) {

        
    #cube, #cube2 {
        display: none;
    }


    body {
        background-color: #fff;
    }
    
    .content {
        padding: 0;
    }

    footer {
        padding: 10px;
        font-size: 12px;
    }

    footer p {
        text-align: center;
    }

    .tel {
        width: 70%;
        margin: 8px calc(15% - 16px);
    }

    #map {
        width: 100%;
        margin-left: 0;
    }

    #about .half {
        width: 100%;
    }

    .comments .item img {
        width: 120px;
        height: 120px;
        float: left;
        margin: 0;
    }
        
    .comments .item p {
        display: block;
        width: 100%;
        margin: 50px 0 0 0;
    }
    
    .comments .item h3 {
        display: inline-block;
        width: 130px;
        text-align: right;
        margin-bottom: 40px;
        margin-right: 10px;
        margin-top: 30px;
    }

    #about h3, #about div {
        display: inline-block;
        width: 100%;
        text-align: center;
    }

    #map {
        width: 90vw;
        height: 80vw;
    }

    h4 {
        margin-left: 0;
    }

    .topBtn {
        width: 50px;
        height: 50px;
        right: 15px;
        bottom: 60px;
    }

    article {
        display: block;
        width: 100%;
        margin-top: 40px;
        margin-bottom: 120px;
        margin-left: 0;
    }

    article+article {
        margin-top: 20px;
    }

    article+article+article+article {
        margin-top: -20px;
    }


    article:last-child {
        margin-bottom: 0;
    }


    article p {
        width: 100%;
        padding-bottom: 20px;
        border-bottom: 0.2px solid #d8d8d8;
    }

    article img {
        width: 24%;
        position: relative;
        left: 38%;
        margin: 10px 0;
    }

    h4::before {
        display: none;
    }
        
    h4 span::before {
        display: block;
        content: '';
        position: absolute;
        height: 2px;
        width: 80%;
        top: calc(100% + 5px);
        left: 10%;
        background-color: var(--red);
    }

    article:nth-child(even) h4 span::before {
        background-color: var(--green);
    }

    article h4 {
        width: 100%;
        text-align: center;
    }


    h3  {
        max-width: 80%;
    }
    
    .content {
        margin: 30px 5%;
    }

    .carousel {
        margin-top: 20px;
    }

    #logo {
        width: 40px;
        height: 40px;
        top: calc(50% - 20px);
        left: calc(100% - 50px - 10px);
    }
    
    header {
        position: fixed;
        width: 100%;
        height: 40px;
        top: 0;
        left: 0;
    }
    
    header a {
        display: none;
    }

    #mobileMenuBtn {
        display: inline-block;
    }

    #mobileMenu {
        display: inline-block;
    }

    #price {
        flex-flow: column;
        text-align: center;
        padding-bottom: 20px;
        border-bottom: 0.2px solid #d8d8d8;
    }

    #price div {
        width: 100%;
        order: 0;
    }

    #price h3, #price p {
        width: 100%;
        max-width: 100%;
    }

    #price img {
        max-width: 40%;
        margin-left: 30%;
    }
}


@keyframes cube {
    from {
        top: 60px;
        transform: rotate(0deg);
    }

    50% {
        top: 110px;
        transform: rotate(180deg);
        border-radius: 50%;
        border: 2px solid green;
    }

    to {
        top: 60px;
        border-radius: 0%;
        transform: rotate(0deg);
    }

}



@keyframes cube2 {
    from {
        top: 190px;
        transform: rotate(0deg);
    }

    50% {
        top: 130px;
        transform: rotate(180deg);
        border-radius: 50%;
        border: 2px solid green;
    }

    to {
        top: 190px;
        border-radius: 0%;
        transform: rotate(0deg);
    }

}


@keyframes spin {
    from {
        transform: rotate(0);
    }

    to {
        transform: rotate(360deg);
    }
}