@import url('https://fonts.googleapis.com/css?family=Rajdhani:500|Roboto&display=swap&subset=cyrillic');

//font-family: 'Rajdhani', sans-serif;
//font-family: 'Roboto', sans-serif;
@mixin font-h($font-size: '1em') {
        font-family: 'Rajdhani', sans-serif;
        font-weight: 500;
        font-size: $font-size;
}

@mixin font($font-size: '1em') {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    font-size: $font-size;
}

body {
    @include font;
    margin: 0;
    padding: 0;
}

    header {
        @include font-h(1.8em);
        color: #fff;
        display: inline-block;
        box-sizing: border-box;
        text-shadow: 2px 2px 5px #0c0c0c;
        width: 100%;
        height: 50px;
        padding: 5px 20px;
        background-color: rgb(71, 71, 71);
        
    }

    #content {
        display: inline-block;
        box-sizing: border-box;
        width: 80%;
        margin-left: 10%;

        h2 {
          display: inline-block;
          box-sizing: border-box;
          padding-left: 30px;
          position: relative;
          margin-bottom: 0;

          &::before {
              display: inline-block;
              content: '';
              position: absolute;
              left: 0;
              width: 3px;
              height: 100%;
              background-color: rgb(189, 58, 40);
          }
        }
    
        article {
            display: inline-block;
            width: 100%;

            h3 {
                @include font-h(1.3em);
                margin-bottom: 5px;
            }

            p {
                @include font;
            }

            img {
                width: 100%;
                margin-bottom: 5px;
            }
        }
    }

@media (max-width: 768px) {
    #content {
        width: 96%;
        margin-left: 2%;

        h2 {
            width: 100%;
            padding-left: 0;
            text-align: center;

            &:before {
                display: none;
            }
        }

    }
}